html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    width: 100%;
    min-height: 100%;
    background-color: #F1F3E0;
}

.head{
    height: 10%;
    background-color: #D2DCB6;
    display: flex;
    padding: 0 15px 0 15px;
    align-items: center;
    gap: 15px;
    box-shadow: 1px 1px 10px #A1BC98;
}
.name, .pages{
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 1;
    border: 2px;
    padding-left: 1%;
    padding-right: 1%;
    align-items: center;
}
.pages{
    gap: 20px;
    height: 100%;
    justify-content: end;
}
.name{
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    height: 100%;
}
.pages a{
    width: fit-content;
    height: 45%;
    display: flex;
    text-decoration: none;
}
.pages a button{
    position: relative;
    text-align: center;
    background-color: #A1BC98;
    height: 100%;
    width: 5.5rem;
    border-radius: 1.2rem;
    border: 0px;
    box-shadow: 0px 2px 10px #A1BC98;
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    transition: all 0.2s ease-in-out;
    color: #F1F3E0;
    font-size: 0.9rem;
}
.pages a button:hover{
    transform: translateY(-2px);
    scale: 1.05;
}
.pages a button:active{
    background-color: #778873;
    color: #D2DCB6;
}
.name h4{
    position: relative;
    text-shadow: 0 2px 10px #778873;
    transform: translateX(20%);
    font-size: 1.4em;
    color: #778873;
}
.hero{
    position: relative;
    height: 90%;
    display: flex;
}
.bigName{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Caesar Dressing", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 23rem;
    letter-spacing: 2.5vw;
    color: #778873;
    text-shadow: 0 8px 15px #778873;
    -webkit-text-stroke: 2px #778873;
    z-index: 1;
}
.outline{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Caesar Dressing", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 23rem;
    letter-spacing: 2.5vw;
    color: rgba(0,0,0,0);
    -webkit-text-stroke: 3px #778873;
    z-index: 3;
}
.hello{
    position: absolute;
    font-size: 2rem;
    font-family: "Over the Rainbow", cursive;
    font-weight: 600;
    font-style: normal;
    top: 26%;
    left: 12%;
    transform: translate(-50%, -50%);
    color: #A1BC98;
    text-shadow: 0 4px 10px #A1BC98;
}
.hero .prof{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    border-radius: 1rem;
    z-index: 2;
    box-shadow: 0px 8px 10px #778873;
}
.hero .arrow{
    position: absolute;
    top: 80%;
    left: 32%;
    transform: translate(-50%, -50%);
    width: 8%;
    height: auto;
}
.social{
    position: absolute;
    height: fit-content;
    width: 15%;
    z-index: 5;
    background-color: #A1BC98;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: px;
    border-radius: 1.2rem;
    padding-top: 15px;
    padding-bottom: 15px;
    top: 80%;
    left: 83%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 10px #A1BC98;
}
.social a{
    width: fit-content;
    height: fit-content;
    display: flex;
    text-decoration: none;
}
.social a button{
    position: relative;
    display: flex;
    width: 25%;
    height: 90%;
    flex: 1;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0px;
}
.social a button i{
    position: relative;
    font-size: 32px;
    z-index: 5;
    color: #F1F3E0;
    transition: all 0.2s ease-in-out;
}
.fa-brands:hover{
    transform: translateY(-3px);
    scale: 1.1;
}
.fa-brands:active{
    color: #778873;
}
.hero .curly{
    position: absolute;
    width: 8%;
    top: 25%;
    left: 67%;
    transform: translate(-50%, -50%);
    rotate: 15deg;
}
.text1{
    position: absolute;
    width: 22%;
    height: auto;
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 0.9rem;
    top: 11%;
    left: 73.5%;
    color: #778873;
    text-align: left;
}