html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    width: 100%;
    min-height: 100%;
    background-color: #F1F3E0;
    overflow-x: hidden;
}
.head{
    height: 10%;
    width: 100%;
    background-color: #D2DCB6;
    display: flex;
    align-items: center;
    gap: 15px;
    box-shadow: 1px 1px 10px #A1BC98;
}
.name, .pages{
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0 20px 0 20px;
    flex: 1;
    align-items: center;
    margin: 0%;
}
.pages{
    gap: 20px;
    height: 100%;
    justify-content: end;
}
.name{
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    height: 100%;
}
.pages a{
    width: fit-content;
    height: 45%;
    display: flex;
    text-decoration: none;
}
.pages a button{
    position: relative;
    text-align: center;
    background-color: #A1BC98;
    height: 100%;
    width: 5.5rem;
    border-radius: 1.2rem;
    border: 0px;
    box-shadow: 0px 2px 10px #A1BC98;
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    transition: all 0.2s ease-in-out;
    color: #F1F3E0;
    font-size: 0.9rem;
}
.pages a button:hover{
    transform: translateY(-2px);
    scale: 1.05;
}
.pages a button:active{
    background-color: #778873;
    color: #D2DCB6;
}
.name h4{
    position: relative;
    text-shadow: 0 2px 10px #778873;
    transform: translateX(20%);
    font-size: 1.4em;
    color: #778873;
}
.hero{
    position: relative;
    height: 90%;
    display: flex;
}
.bigName{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Caesar Dressing", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 23rem;
    letter-spacing: 2.5vw;
    color: #778873;
    text-shadow: 0 8px 15px #778873;
    -webkit-text-stroke: 2px #778873;
    z-index: 1;
}
.outline{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Caesar Dressing", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 23rem;
    letter-spacing: 2.5vw;
    color: rgba(0,0,0,0);
    -webkit-text-stroke: 3px #778873;
    z-index: 3;
}
.hello{
    position: absolute;
    font-size: 2rem;
    font-family: "Over the Rainbow", cursive;
    font-weight: 600;
    font-style: normal;
    top: 26%;
    left: 12%;
    transform: translate(-50%, -50%);
    color: #A1BC98;
    text-shadow: 0 4px 10px #A1BC98;
}
.hero .prof{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    border-radius: 1rem;
    z-index: 2;
    box-shadow: 0px 8px 10px #778873;
}
.hero .arrow{
    position: absolute;
    top: 80%;
    left: 32%;
    transform: translate(-50%, -50%);
    width: 8%;
    height: auto;
}
.social{
    position: absolute;
    height: fit-content;
    width: 15%;
    z-index: 5;
    background-color: #A1BC98;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 1.2rem;
    padding-top: 15px;
    padding-bottom: 15px;
    top: 80%;
    left: 83%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 10px #A1BC98;
}
.social a{
    width: fit-content;
    height: fit-content;
    display: flex;
    text-decoration: none;
}
.social a button{
    position: relative;
    display: flex;
    width: 25%;
    height: 90%;
    flex: 1;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0px;
}
.social a button i{
    position: relative;
    font-size: 32px;
    z-index: 5;
    color: #F1F3E0;
    transition: all 0.2s ease-in-out;
}
.social a button i:hover{
    transform: translateY(-3px);
    scale: 1.1;
}
.social a button i:active{
    color: #778873;
}
.hero .curly{
    position: absolute;
    width: 8%;
    top: 25%;
    left: 67%;
    transform: translate(-50%, -50%);
    rotate: 15deg;
}
.text1{
    position: absolute;
    width: 22%;
    height: auto;
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 0.9rem;
    top: 11%;
    left: 73.3%;
    color: #778873;
    text-align: left;
    text-shadow: 0px 2px 10px #778873;
    animation: pulse 2s ease-in-out infinite;
}
.about{
    height: 100%;
    width: 100%;
    background-color: #F1F3E0;
    display: flex;
}
.aboutHeading{
    font-size: 3rem;
    font-family: "Annie Use Your Telescope", cursive;
    font-weight: 600;
    font-style: normal;
    color: #A1BC98;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 2px 15px #A1BC98;
}
@keyframes pulse {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0px);
  }
}
.main{
    height: 80%;
    width: 90%;
    position: relative;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 1rem;
    flex-direction: row;
    display: flex;
}
.bringIn1{
    transform: translateX(0%);
    transition: 0.8s ease-in-out;
    opacity: 1;
    scale: 1;
}
.bringOut1{
    transform: translateX(-15%);
    transition: 0.8s ease-in-out;
    opacity: 0;
    scale: 0.9;
}
.bringIn2{
    transform: translateX(0%);
    transition: 0.8s ease-in-out;
    opacity: 1;
    scale: 1;
}
.bringOut2{
    transform: translateX(15%);
    transition: 0.8s ease-in-out;
    opacity: 0;
    scale: 0.9;
}
.bringIn3{
    transform: translateX(0%);
    transition: 0.8s ease-in-out;
    opacity: 1;
}
.bringOut3{
    transform: translateX(30%);
    transition: 0.8s ease-in-out;
    opacity: 0;
    scale: 0.9;
}
.bringIn4{
    transform: translateX(0%);
    transition: 0.8s ease-in-out;
    opacity: 1;
    scale: 1;
}
.bringOut4{
    transform: translateX(15%);
    transition: 0.8s ease-in-out;
    opacity: 0;
    scale: 0.9;
}
.child1{
    position: relative;
    height: 100%;
}
.pic{
    height: 100%;
    flex: 0.7;
    overflow: hidden;
    border-radius: 1.1rem;
    box-shadow: 0 4px 10px #778873;
}
.pic img{
    width: 100%;
    object-fit: cover;
    object-position: center top;
}
.info{
    flex: 1;
    display: flex;
    gap: 1rem;
    height: 100%;
    flex-direction: column;
}
.child2{
    position: relative;
    width: 100%;
    flex: 1;
    border-radius: 1.1rem;
}
.big{
    background-color: #D2DCB6;
    box-shadow: 0 4px 10px #D2DCB6;
}
.aboutme{
    width: calc(100%-3rem);
    height: fit-content;
    padding: 1.1rem 1.5rem 0 1.5rem;
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #778873;
    text-shadow: 0 2px 10px #778873;
    margin: 0;
}
.me2{
    padding-bottom: 1.1rem;
}
.basics{
    position: relative;
    display: flex;
    width: calc(100%-3rem);
    flex-direction: row;
    padding: 0 1.5rem 0 1.5rem;
    gap: 1rem;
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #778873;
}
.interests{
    position: relative;
    flex: 1;
    font-size: 1.2rem;
    padding-bottom: 1.1rem;
}
.hobbies{
    position: relative;
    flex: 1;
    font-size: 1.2rem;
    padding-bottom: 1.1rem;
}
.smalls{
    flex: 1;
    display: flex;
    gap: 1rem;
    height: 100%;
    flex-direction: row;
}
.child3{
    position: relative;
    height: 100%;
    flex: 1;
    border-radius: 1.1rem;
    background-color: #D2DCB6;
    box-shadow: 0 4px 10px #D2DCB6;
    padding: 0 1.5rem 0 1.5rem;
}
.langFram{
    position: relative;
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #778873;
    text-shadow: 0 2px 10px #778873;
    width: fit-content;
    height: fit-content;
}
.iconHolder{
    position: relative;
    margin-top: 1.5rem;
    display: grid;
    height: fit-content;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    column-gap: 2rem;
    row-gap: 1rem;
}
.css{
    position: relative;
    font-size: 32px;
    color: #778873;
}
.sfc{
    position: relative;
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #778873;
    text-shadow: 0 2px 10px #778873;
    width: fit-content;
    height: fit-content;
}
.skills{
    position: relative;
    margin-top: 1.5rem;
    display: grid;
    height: fit-content;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    row-gap: 1rem;
    padding-left: 1rem;
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #778873;
}
.projects{
    height: 100%;
    width: 100%;
    background-color:#F1F3E0;
    overflow: hidden;
}
.projectsHeading{
    font-size: 3rem;
    font-family: "Annie Use Your Telescope", cursive;
    font-weight: 600;
    font-style: normal;
    color: #A1BC98;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 2px 15px #A1BC98;
}
.container{
    height: 75%;
    width: 85%;
    position: relative;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 2.5rem;
    flex-direction: row;
    display: flex;
}
.cards{
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 10px #D2DCB6;
    border-radius: 1.1rem;
}
.preview{
    flex: 1;
    margin: 0;
    overflow: hidden;
    border-radius: 1.1rem 1.1rem 0 0;
    margin: 0;
}
.preview>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}
.explanation{
    flex: 1;
    background-color: #D2DCB6;
    margin: 0;
    border-radius: 0 0 1.1rem 1.1rem;
    display: flex;
    flex-direction: column;

}
.overlay{
    position: absolute;
    top: 40%;
    width: 100%;
    height: 10%;
    background-image: linear-gradient(to top, #D2DCB6, rgba(0, 0, 0, 0));
}
.bringIn5{
    transform: translateX(0%);
    opacity: 1;
    transition: 0.8s ease-in-out;
}
.bringOut5{
    transform: translateX(-15%);
    opacity: 0;
    transition: 0.8s ease-in-out;
}
.bringIn6{
    transform: translateX(0%);
    opacity: 1;
    transition: 0.8s ease-in-out;
}
.bringOut6{
    transform: translateX(-30%);
    opacity: 0;
    transition: 0.8s ease-in-out;
}
.bringIn7{
    transform: translateX(0%);
    opacity: 1;
    transition: 0.8s ease-in-out;
}
.bringOut7{
    transform: translateX(-45%);
    opacity: 0;
    transition: 0.8s ease-in-out;
}
.cards:hover{
    scale: 1.05;
    transition: 0.3s ease-in-out;
}
.projectName{
    position: relative;
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #778873;
    padding: 1rem 1.5rem 1rem 1.5rem;
    flex: 1;
    margin: 0;
}
.explained{
    position: relative;
    flex: 40;
    padding: 0 1.5rem 1rem 1.5rem;
    margin: 0;
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #778873;
}
a{
    text-decoration: none;
}
.contact{
    position: relative;
    width: 100%;
    height: 100%;
}
.contactBox{
    height: 60%;
    width: 40%;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #D2DCB6;
    display: flex;
    flex-direction: row;
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #778873;
    border-radius: 1.1rem;
    box-shadow: 0 2px 10px #D2DCB6;
}
.data{
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}
.message{
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1.5rem 1.5rem 0;
}
.email{
    position: relative;
    width: 100%;
    height: 7%;
    border-radius: 1.2rem;
    text-align: center;
    border-width: 3px;
    border-color: #778873;
    border-style: solid;
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #A1BC98;
    box-shadow: 0 0 8px #778873 inset;
}
.msg{
    position: relative;
    width: 100%;
    height: 80%;
    top: 10%;
    border-radius: 1.2rem;
    text-align: center;
    border-width: 3px;
    border-color: #778873;
    border-style: solid;
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #A1BC98;
    box-shadow: 0 0 8px #778873 inset;
    text-wrap: inherit;
}
.send{
    position: relative;
    margin: 0;
    height: 10%;
    width: 70%;
    border-radius: 1.3rem;
    border: 0px;
    background-color: #A1BC98;
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #F1F3E0;
    font-size: 1.1rem;
    box-shadow: 0 2px 10px #A1BC98;
    transition: 0.2s ease-in-out;
}
.send:hover{
    scale: 1.05;
    transform: translateY(-2px);
    transition: 0.2s ease-in-out;
}
.send:active{
    background-color: #778873;
}
.data>h3{
    margin: 0;
}