html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    width: 100%;
    min-height: 100%;
    background-color: #F1F3E0;
}

.head{
    height: 10%;
    background-color: #D2DCB6;
    display: flex;
    padding: 0 15px 0 15px;
    align-items: center;
    gap: 15px;
    box-shadow: 1px 1px 10px #A1BC98;
}
.name, .pages{
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 1;
    border: 2px;
    padding-left: 1%;
    padding-right: 1%;
    align-items: center;
}
.pages{
    display: flex;
    gap: 20px;
    height: 100%;
    justify-content: end;
}
.name{
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
}
.pages button{
    position: relative;
    text-align: center;
    background-color: #A1BC98;
    height: 45%;
    width: 5em;
    border-radius: 1.1rem;
    border: 0px;
    box-shadow: 0px 2px 10px #778873;

}
.name h4{
    position: relative;
    text-shadow: 0 4px 10px #778873;
    transform: translateX(20%);
    font-size: 1.4em;
    color: #778873;
}
.hero{
    position: relative;
    height: 90%;
    display: flex;
}
.hero img{
    width: 40%;
    height: auto;
    object-fit: cover;
    position: absolute;
    right: 5%;
    top: 10%;
}
.textBox1{
    position: absolute;
    height: fit-content;
    width: 40%;
    max-width: 350px;
    background-color: rgba(161, 188, 152, 0.65);
    border-radius: 0.5rem;
    border-bottom-right-radius: 3rem;
    top: 10%;
    left: 5%;
    padding: 10px;
    text-align: justify;
}
.textBox2{
    position: absolute;
    height: fit-content;
    width: 80%;
    min-width: 350px;
    background-color: rgba(161, 188, 152, 0.65);
    border-radius: 0.5rem;
    border-bottom-right-radius: 3rem;
    top: 50%;
    right: 5%;
    padding: 10px;
    text-align: justify;
}